* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* stili generali */
body {
  font-family: 'Roboto', sans-serif;
}

span {
  background-color: red;
  border-radius: 5px;
  padding: 10px;
  color: white;
}
/* stili generali */

/* header */
header {
  width: 100vw;
  height: 100vh;
  background-color: grey;
}

.nav-top-container, .nav-bottom-container {
  width: 100%;
  height: 50%;
  margin: auto;
}

.nav-top-container {
  border-bottom: 3px solid black;
  background-color: #F4F9FD;
}

.nav-bottom-container {
  background-color: white;
}

/* menu-bar */
nav {
  height: 150px;
  width: 100%;
  background-color: red;
}

.nav-top {
  width: 80%;
  margin:auto;
}

.nav-bottom {
  height: 75px;
  width: 80%;
  background-color: white;
  margin: auto;
}

.menu-top, .menu-bottom {
  width: 50%;
  height: 100%;
  float: left;
}

.left-container > i, .left-container > p {
  float: left;
  line-height:75px;
  margin-right: 5px;
}

.menu-top p:nth-child(4) {
  margin: 0 20px;
}

.right-container > i, .right-container > p {
  float: right;
  line-height:75px;
  margin-left: 20px;
  color: #01A5BE;
}

.right-container > p:nth-child(2) > span {
border: 2px solid red;
padding: 10px;
border-radius: 5px;
background-color: white;
color: red;
}

.menu-bottom {
  position: relative;
}

.menu-bottom > img {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
}

.menu-item {
  list-style: none;
  line-height: 75px;
}

.menu-item > li {
  display: inline-block;
  margin-right: 10px;
}

.menu-item > li > i {
  margin: auto 10px;
}
/* /menu-bar */

/* /header */
