* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* stili generali */
body {
  font-family: 'Roboto', sans-serif;
  background-color: #F4F9FD;
}

span {
  background-color: red;
  border-radius: 5px;
  padding: 10px;
  color: white;
}

.clearfix::after {
  clear: both;
  display: table;
  content: "";
}

.container {
  width: 80%;
  /* height: 700px; */
  margin: auto;
}
/* stili generali */

/* header */
header {
  width: 100%;
  height: 100vh;
  background-color: #FFF2EE;
  background-image: url('../img/jumbotron.png');
  background-size: 80%;
  background-position: bottom 0 right 0;
  background-repeat: no-repeat;
  position: relative;
}

.nav-top-container, .nav-bottom-container {
  width: 100%;
  height: 50%;
  margin: auto;
}

.nav-top-container {
  height: 75px;
  border-bottom: 3px solid black;
  background-color: #F4F9FD;
  position: fixed;
  top: 0;
  z-index: 999;
}

.nav-bottom-container {
  background-color: white;
  margin-top: 75px;
}

/* menu-bar */
nav {
  height: 150px;
  width: 100%;

}

.nav-top {
  width: 80%;
  margin:auto;
}

.nav-bottom {
  height: 75px;
  width: 80%;
  background-color: white;
  margin: auto;
}

.menu-top, .menu-bottom {
  width: 50%;
  height: 100%;
  float: left;
}

.left-container > i, .left-container > p {
  float: left;
  line-height:75px;
  margin-right: 5px;
}

.menu-top p:nth-child(4) {
  margin: 0 20px;
}

.right-container > i, .right-container > p {
  float: right;
  line-height:75px;
  margin-left: 20px;
  color: #01A5BE;
}

.right-container > p:nth-child(2) > span {
border: 2px solid red;
padding: 10px;
border-radius: 5px;
background-color: white;
color: red;
}

.menu-bottom {
  position: relative;
}

.menu-bottom > img {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
}

.menu-item {
  list-style: none;
  line-height: 75px;
}

.menu-item > li {
  display: inline-block;
  margin-right: 10px;
}

.menu-item > li > i {
  margin: auto 10px;
}
/* /menu-bar */

.jumbotron {
  height: calc(100vh - 150px);
  width: 80%;
  margin: auto;
}

.h1-container {
  height: 90%;
  width: 50%;
  margin-top: 50px;
  position: relative;
}

.h1-container > h1 {
  font-size: 45px;
}

.h1-container > p {
  line-height: 1.6;
  margin: 30px 0;
}

.foto-bar {
  height: 65px;
  width: 100%;
  background-color: #82DFD4;
  position: absolute;
  bottom: 0;
  border-top: 3px solid #3A4D61;
  border-bottom: 3px solid #3A4D61;

}

/* /header */

/* corpo centrale */

/* section1 */
.number1 {
  /* height: 100vw; */
  width: 100%;
  /* background-color: green; */
}

.introduction {
  height: 300px;
  width: 100%;
  margin: auto;
  text-align: center;
  margin-top: 30px;
}

.introduction > img {
  width: 30%;
}

.introduction > p {
  margin-top: 20px;
}

.crm {
  height: 300px;
  width: 100%;
  border: 2px solid #EAEFF4;
  border-radius: 5px;
  margin-top: 70px;
  background-color: white;
  /* border: 2px solid black; */
}

.crm-container {
  height: 100%;
  width: 90%;
  margin: auto;
}

.crm-left {
  /* height: 100%; */
  width: 20%;
  /* border: 2px solid red; */
  float: left;
  text-align: center;
  transform: translate(0, 25%);
  margin-left: 50px;
}

.crm-right {
  /* height: 100%; */
  width: 60%;
  /* border: 2px solid orange; */
  float: left;
  margin-left: 30px;
  transform: translate(0, 25%);



}

.image {
  height: 100px;
  width: 100px;
  margin: auto;
}

.crm-left > span {
  margin: 30px 20px;
  display: block;
}

.crm-right > p {
  line-height: 1.6;
  margin: 20px 0;
}

.h3-container {
  position: relative;
}

.h3-container > h3 {
  display: inline-block;
  width: 40%;
}

.h3-container > hr {
  width: 58%;
  display: inline-block;
  margin-left: 2%;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  border: 1px solid black;
}

.crm-p-container {
  margin-top: 30px;
}

.crm-p-container > i {
  color: red;
  margin-right: 20px;
  display: inline-block;
}

.crm-p-container > p {
  margin-right: 20px;
  display: inline-block;
}

.red {
  border: 2px solid red;
  margin-top: 70px;
}

.card {
  width: 30%;
  border: 2px solid #e8edf3;
  background-color: white;
  text-align: center;
  float: left;
}

.card:nth-child(2) {
  margin: 0 5%;
}

.img-card {
  height: 200px;
  width: 200px;
  margin: auto;
}

.card > h2 {
  margin-top: 50px;
}

.card > p {
  margin: 30px 20px;
}

.card > hr {
  margin: 100px 30px 0 30px;
}

.card-bottom {
  margin-top: 30px;
  text-align: left;
}

.card-bottom > h2 {
  text-align: center;
}

.card-list {
  list-style: none;
  text-align: left;
  margin: 30px 30px;
}

.card-list > li > i {
  margin-right: 30px;
  color: red;
}

.card-bottom > span {
  display: block;
  text-align: center;
  margin: 20px 70px;
}

/* /section1 */

/* section2 */

.section2 {
  /* height: 500px; */
  background-color: #00aab7;
}

.section2-upper-container, .section2-lower-container  {
  /* height: 30%; */
  width: 80%;
  margin: 50px auto;
  /* border: 2px solid red; */
  text-align: center;
  color: white;
  padding: 50px 0;
}

.section2-lower-container {
  /* height: 60%; */
  padding-top: 0;
}

.section2-upper-container > p {
  margin: 20px auto;
}

.upper-awards, .lower-awards {
  width: 100%;
  /* height: 50%; */
  /* background-color: blue; */
}

.upper-awards-section {
  height: 100%;
  width: 25%;
  border: 1px solid white;
  float: left;
  text-align: center;
}

.upper-awards-section > * {
  margin: 10px auto;
}

.upper-awards-section:first-child {
  border-left: none;
}

.upper-awards-section:last-child {
  border-right: none;
}

.upper-awards > .upper-awards-section {
  border-top: none;
}

.lower-awards > .upper-awards-section {
  border-bottom: none;
}

/* /section2 */

/* section3 */
.section3 {
  height: 500px;
  border: 2px solid red;
}

.section3 > * {
  /* height: 30%; */
  width: 70%;
  border: 2px solid black;
  margin: auto;
  position: relative;
}

.lower-customers {
  height: 70%;
  width: 80%;
}

.customers, .brand {
  /* height: 100%; */
  width: 30%;
  /* border: 2px solid blue; */
  float: left;
}

.brand {
  width: 50%;
  margin-left: 20%;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(0, -50%);
}

.customers > h2 {
  font-size: 36px;
}

.customers > p {
  margin-top: 20px;
}

.brand-image {
  width: 25%;
  float: right;
}

.brand > img:nth-child(n+5) {
  margin-top:30px;
}

/* /section3 */

/* /corpo centrale */
